In [ ]:
# 练习8-创建数据框
# 探索Pokemon数据
# -- 创建一个数据字典
# -- 将数据字典存为一个名叫pokemon的数据框中
# -- 数据框的列排序是字母顺序，请重新修改为name, type, hp, evolution, pokedex这个顺序
# -- 添加一个列place['park','street','lake','forest']
# -- 查看每个列的数据类型
# import pandas as pd
# #创建一个数据字典
# raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
#             "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
#             "type": ['grass', 'fire', 'water', 'bug'],
#             "hp": [45, 39, 44, 45],
#             "pokedex": ['yes', 'no','yes','no']                        
#             }

In [1]:
import pandas as pd
#创建一个数据字典
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }
raw_data

{'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
 'type': ['grass', 'fire', 'water', 'bug'],
 'hp': [45, 39, 44, 45],
 'pokedex': ['yes', 'no', 'yes', 'no']}

In [3]:
# -- 将数据字典存为一个名叫pokemon的数据框中
pokemon = pd.DataFrame(raw_data)
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

In [4]:
# -- 数据框的列排序是字母顺序，请重新修改为name, type, hp, evolution, pokedex这个顺序
pokemon = pokemon[['name','type','hp','evolution','pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [10]:
# -- 添加一个列place['park','street','lake','forest']
pokemon['place'] = pd.DataFrame({'place':['park','street','lake','forest']})
pokemon

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes    park
1  Charmander   fire  39  Charmeleon      no  street
2    Squirtle  water  44   Wartortle     yes    lake
3    Caterpie    bug  45     Metapod      no  forest

In [12]:
# -- 查看每个列的数据类型
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
name         4 non-null object
type         4 non-null object
hp           4 non-null int64
evolution    4 non-null object
pokedex      4 non-null object
place        4 non-null object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes